
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header-text {
  font-size: 15px;
  margin-left: 30px;
  color: black;
}

.input-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px; 
}

.combined-input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid #ccc;
  overflow: hidden;
}

.combined-input input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}

.combined-input input:first-child {
  border-bottom: 1px solid #ccc;
}

.error {
  background-color: #ffe6e6;
}

.error-border {
  border-color: red;
}

.add-button {
  background-color: #04468b;
  color: white;
  border: none;
  padding: 20px;
  font-size: 40px;
  cursor: pointer;
  height: 81px;
  width: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.add-button:hover {
  background-color: #022f5f;
}

.emptylist{
  display: flex;
  justify-content: center; 
  margin-top: 200px;        
  font-size: 30px;
  color: #04468b;
}

.task {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-grow: 1;
  cursor: pointer;
  width: 100%;
}

.task-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  gap: 5px;
}

.task-title {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

.task-description {
  font-size: 14px;
  padding-left: 10px;
}

.task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

ul {
  list-style: none;
  width: 80%; 
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  pointer-events: auto; 
}

label {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

span {
  padding-left: 10px;
}

input[type="text"] {
  border-color: #04468b;
  border-width: 2px;
}


.delete-button {
  background-color: #ccc; 
  color: white;
  font-size: 20px;
  padding: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out; 
}

.delete-button:hover {
  background-color: #ff1a1a; 
  transform: scale(1.1); 
}

.delete-button:focus {
  outline: none; 
}

.delete-button i {
  font-size: 24px; 
  color: #04468b; 
  transition: color 0.3s ease;
}

.delete-button:hover i {
  color: white; 
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  appearance: none;
  z-index: 2; 
  background-color: white;
  border: 2px solid #04468b;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: grey;
  border-color: grey;
  opacity: 0.5;
}

input[type="checkbox"]::before {
  content: "✔";
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="checkbox"]:checked::before {
  display: block;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}